<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create School || EDUBD</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>EDUBD - Manage School Portal</h1>

    <h3>Create New School</h3> <br>

    <form th:action="@{/School/Create}" th:object="${school}" th:method="POST">
        <label>School Name:<br>
        <input type="text" th:field="*{schoolName}">
        </label> <br>
        <label>School Email:<br>
        <input type="text" th:field="*{schoolEmail}">
        </label> <br>
        <label>Phone Number: <br>
        <input type="tel" th:field="*{schoolPhone}">
        </label> <br>
        <input type="submit" value="Submit"> <input type="reset" value="Reset"/>
    </form>

    <br>
    <button type="submit" th:action="@{/school/all}" th:object="${allSchool}" formmethod="get">Show All Schools</button>

</body>
</html>