<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Create School || EDUBD</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{/css/newSchoolAdd.css}" type="text/css" rel="stylesheet"  />
    <script th:src="@{/script/addNewSchoolAdminPage.js}"></script>
    <script th:src="@{/script/disableSchoolStatusAdmin.js}"></script>
    <style>
        .allSchoolTableDisable{
            background-color: #c64242;
        }
    </style>

</head>
<body>
    <h1>EDUBD - Manage School Portal</h1>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Add New School</button>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"  title="Close Modal">&times;</span>
        <form class="modal-content" id="createSchool" method="post" name="newSchoolForm">
            <div class="container">
                <h1>Add New School</h1>
                <p>Please fill in this form to create an school account.</p>
                <hr>
                <label for="schoolName"><b>School Name</b></label>
                <input type="text" id="schoolName" placeholder="Enter School Name" name="schoolName" required>

                <label for="schoolEmail"><b>School Email</b></label>
                <input type="email" id="schoolEmail" placeholder="Enter School Email" name="schoolEmail" required>

                <label for="schoolEmail-repeat"><b>Repeat School Email</b></label>
                <input type="email" id="schoolEmail-repeat" placeholder="Repeat School Email" name="schoolEmail-repeat" required>

                <label for="schoolPhone"><b>School Phone Number</b></label>
                <input type="tel" id="schoolPhone" placeholder="Enter School Phone" name="schoolPhone" required>

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <button id="submit" type="button" class="signupbtn" >Add New School</button>
                </div>
                <br>
                <div id="feedback">

                </div>

            </div>
        </form>
    </div>

    <br>
    <br>
    <br>
    <div id="disableButtonAction">

    </div>

    <div id="AllSchools" class="AllSchools">
        <h3>All Schools</h3>
        <div>
            <table id="allSchoolsTable" th:action="@{all}">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>School Name</th>
                        <th>School Email</th>
                        <th>School Address</th>
                        <th>School Phone</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Modify</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>a</th>
                        <th>b</th>
                        <th>c</th>
                        <th>d</th>
                        <th>e</th>
                        <th>f</th>
                        <th>g</th>
                        <th>h</th>
                        <th></th>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>

    <p id="showData" onload=" loadAllSchools()">

    <script type="text/javascript">


        //This function inserts data from the database to a table dynamically. To see all data
        const schoolTableBody = document.querySelector("#allSchoolsTable > tbody");
        function loadAllSchools(){
            const request=new XMLHttpRequest();
            request.open("GET", "School/allSchool");
            request.setRequestHeader("Content-Type", "application/json");
            request.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    console.log(this.responseText);
                }
            };
            request.onload=() =>{
                try{
                    const json=JSON.parse(request.responseText);
                    populateAllSchool(json);
                }catch (e){
                    console.log("Could not load school data. \n");
                }
            };
            request.send();
        }

        function populateAllSchool(json){
            //This is to clear existing data in the table.
            while(schoolTableBody.firstChild){
                schoolTableBody.removeChild(schoolTableBody.firstChild);
            }
            // for each data create a <tr> and insert <td> for each item.
            json.forEach((row)=>{
                const tr = document.createElement("tr");

                const tdID= document.createElement("td");
                tdID.textContent = row.id;
                tr.appendChild(tdID);

                const tdSN= document.createElement("td");
                tdSN.textContent=row.schoolName;
                tr.appendChild(tdSN);

                const tdSE=document.createElement("td");
                tdSE.textContent=row.schoolEmail;
                tr.appendChild(tdSE);

                const tdSA=document.createElement("td");
                tdSA.textContent=row.schoolStreet;
                tr.appendChild(tdSA);

                const tdSP=document.createElement("td");
                tdSP.textContent=row.schoolPhone;
                tr.appendChild(tdSP);

                const tdStatus=document.createElement("td");
                tdStatus.textContent=row.status;
                tr.appendChild(tdStatus);

                const tdSC=document.createElement("td");
                tdSC.textContent=row.createdDate;
                tr.appendChild(tdSC);

                const tdSU=document.createElement("td");
                tdSU.textContent=row.updatedDate;
                tr.appendChild(tdSU);

                const tdModify=document.createElement("td");
                //tdModify.textContent="";

                if(row.status==="DEACTIVE"){
                    let button2 = document.createElement("BUTTON");
                    button2.setAttribute("id", "allSchoolTableEnable");
                    button2.setAttribute("class","allSchoolTableEnable");
                    button2.setAttribute("value", row.schoolEmail);
                    button2.textContent = "Enable";
                    tdModify.appendChild(button2);
                    tr.appendChild(tdModify);
                }
                else {
                    let button = document.createElement("BUTTON");
                    button.setAttribute("id", "allSchoolTableDisable");
                    button.setAttribute("value", row.schoolEmail);
                    button.setAttribute("class","allSchoolTableDisable");
                    button.textContent = "Disable";
                    tdModify.appendChild(button);
                    tr.appendChild(tdModify);
                }

                schoolTableBody.appendChild(tr);
            });
        }
        document.addEventListener("DOMContentLoaded", () => {loadAllSchools();});



        // Get the modal. This is for the pop up add school form.
        let modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>