<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Manage School || EDUBD</title></head>
    <meta charset="utf-8">
<body>
<h1>EDUBD - Manage School Portal</h1>


<h3>Create New School</h3><br>
<form>
    <label for="sfname">School Name:</label><br>
    <input type="text" id="sfname" name="sfname"><br>
    <label for="semail">School Email:</label><br>
    <input type="text" id="semail" name="semail"><br>
    <label for="sPhone">Phone Number: </label><br>
    <input type="number" id="sPhone" name="sPhone"><br>
    <input type="submit" value="Submit">
</form>

<br>
<button type="submit" name="showAllSchools">Show All Schools</button>

</body>
</html>